body {
    background: #f4f6f9;
    font-family: 'Cairo', sans-serif;
}

.result-card {
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: 0.3s;
}



.question-title {
    font-weight: bold;
    margin-bottom: 15px;
}
