body {
    background: #f4f6f9;
    font-family: 'Cairo', sans-serif;
}

.result-card {
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: 0.3s;
}



.question-title {
    font-weight: bold;
    margin-bottom: 15px;
}

.option {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
    border: 1px solid #ddd;
}

.answer-box {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 8px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
}

.correct-answer {
    background-color: #d4edda;
    border: 1px solid #28a745;
    color: #155724;
}

.wrong-answer {
    background-color: #f8d7da;
    border: 1px solid #dc3545;
    color: #721c24;
}

.normal {
    background-color: #ffffff;
}

.badge-result {
    font-size: 14px;
}
