
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link href="~/css/employeeanswer.css" rel="stylesheet" />


    <div class="container py-5">

        <h2 class="text-center mb-5">نتائجك النهائية</h2>

       
        <div class="card result-card">
            <div class="question-title">
            السؤال 1: م مدة صيام شهر رمضان؟
            </div>

            <div class="option wrong">
            أ - شهر)
            </div>

            <div class="option correct">
                ب - اسبوعين)
            </div>

            <div class="option normal">
                ج - شهرين
            </div>

            <div class="mt-3">
                <span class="badge bg-danger badge-result">إجابة خاطئة ❌</span>
            </div>
        </div>


        <!-- مثال سؤال 2 -->
        <div class="card result-card">
            <div class="question-title">
            السؤال 2:  ما هي السورة التي تُقرأ في كل الصّلوات؟
            </div>

            <div class="option normal">
            أ - سورة الكهف
            </div>

            <div class="option correct">
            ب - سورة الفاتحة (اختيارك ✔)
            </div>

            <div class="option normal">
            ج - سورة الصمد
            </div>

            <div class="mt-3">
                <span class="badge bg-success badge-result">إجابة صحيحة ✅</span>
            </div>
        </div>


    </div>







