@using RamadanQuiz.ViewModels
@model EmplyeeAnswerQuestionViewModel


<meta name="viewport" content="width=device-width, initial-scale=1" />

<link href="~/css/employeeanswer.css" rel="stylesheet" />


@* 
<div class="container py-5">

    <h2 class="text-center mb-4">نتائجك</h2>

<<<<<<< HEAD
    @foreach (var questionGroup in Model.GroupBy(q => q.))
=======
    @* @foreach (var questionGroup in Model.GroupBy(q => q.QuestionId))
>>>>>>> 822bb064bc6a988f4a5f348890b2ad66031d805e
    {
        var first = questionGroup.First();


        var selectedAnswer = questionGroup
        .FirstOrDefault(x =>
        !string.IsNullOrEmpty(x.EmployeeQuestionOptionText));

        string answerText = selectedAnswer?.EmployeeQuestionOptionText
        ?? "لم تقم بادخال اجابة لهذا السؤال";

        <div class="card shadow-sm mb-4 p-4 rounded-4">

            <!-- نص السؤال -->
            <h6 class="fw-bold mb-3">
                @first.QuestionDay
            </h6>

            <p>@first.QuestionText</p>


            <!-- عرض كل الخيارات -->
            @foreach (var option in questionGroup)
            {
                string cssClass = "answer-box";

                if (option.QuestionOptionText == first.QuestionOptionText)
                {
                    cssClass += " correct-answer";
                }



                if (option.EmployeeQuestionOptionText == option.QuestionOptionText
                && !option.IsCorrect)
                {
                    cssClass += " wrong-answer";
                }

                <div class="@cssClass">
                    @option.QuestionOptionText
                </div>




            }
            <div class="fw-bold mt-3">
                إجابتك: @answerText
            </div>

        </div>


    } *




</div> *
























@* 
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link href="~/css/employeeanswer.css" rel="stylesheet" />


    <div class="container py-5">

        <h2 class="text-center mb-5">نتائجك النهائية</h2>

       
        <div class="card result-card">
            <div class="question-title">
            السؤال 1: م مدة صيام شهر رمضان؟
            </div>

            <div class="option wrong">
            أ - شهر)
            </div>

            <div class="option correct">
                ب - اسبوعين)
            </div>

            <div class="option normal">
                ج - شهرين
            </div>

            <div class="mt-3">
                <span class="badge bg-danger badge-result">إجابة خاطئة ❌</span>
            </div>
        </div>


        <!-- مثال سؤال 2 -->
        <div class="card result-card">
            <div class="question-title">
            السؤال 2:  ما هي السورة التي تُقرأ في كل الصّلوات؟
            </div>

            <div class="option normal">
            أ - سورة الكهف
            </div>

            <div class="option correct">
            ب - سورة الفاتحة (اختيارك ✔)
            </div>

            <div class="option normal">
            ج - سورة الصمد
            </div>

            <div class="mt-3">
                <span class="badge bg-success badge-result">إجابة صحيحة ✅</span>
            </div>
        </div>


    </div>





 *@

